#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* Set the background image for the entire page */
body {
  background-image: url(../assets/bg.jpg);
  background-size:contain; /* Cover the whole page */
  background-position: center center; /* Center the image */
  background-repeat:repeat-y; /* Don't repeat the image */
}