.logout-button {
    background-color: #3ab2f9;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    position: fixed;
    top: 20px; /* Move to the top */
    right: 20px; /* Align to the right */
    z-index: 1000;
}

.logout-button:hover {
    background-color: #28666e;
}
